service bootanim /system/bin/bootanimation
    class core animation
    user graphics
    group graphics audio
    capabilities SYS_NICE
    disabled
    oneshot
    ioprio rt 0
    task_profiles MaxPerformance
